@use "../abstract/" as *;
@use "../base/" as *;

.homeBanner{
    background-color: $clr--secondary;
    padding: 4rem 0;
    &__wrapper{
        display: flex;
    }
    &__text{
        display: flex;
        gap: 1.5rem;
        color: $clr--primary;
        width: 20rem;
        h4{
        font-weight: 5;
        font-size: 18px;
        word-spacing: .5rem;
        margin-top:  5rem;
        margin-bottom: 2rem;
        }

    }
    &__details{
        h3{
           font-family: $font--secondary; 
           width: 25rem;
           padding-bottom: 2rem;
        }
        p{
            padding-bottom: 2rem;
        }
    }
    &__img{
            position: relative;
            width: 110rem;
            right: -10rem;
        
    }
}