@use "../abstract/" as *;
.footer {
  padding: 4rem 0;
  color: $clr--dark;
  &__wrapper {
    text-align: center;
    span {
      margin: 0 0.5rem;
    }
    p{
        padding-top: 0.2rem;
        font-size: 18px;
    }
    @include mediaQuery(520px) {
      flex-direction: column;
    }
  }
}
