@use "../abstract/" as *;

.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  
  transition: 0.5s ease;
  &.btn--light{
    background-color: $clr--light;
    color: $clr--dark;
    border: 1px solid $clr--dark;
    &:hover{
        background-color: $clr--dark;
        color: $clr--light;
        border: 1px solid $clr--light;
        transition: 0.5s ease;
    }
  }
  &.btn--dark{
    background-color: $clr--dark;
    color: $clr--light;
    border: 1px solid $clr--light;
    &:hover{
         background-color: $clr--light;
         color: $clr--dark;
         border: 1px solid $clr--dark;
         transition: 0.5s ease;
    }
  }
  &.btn--primary{
    background-color: $clr--primary;
    color: $clr--light;
    border: 1px solid $clr--light;
    &:hover{
         background-color: $clr--light;
         color: $clr--primary;
         border: 1px solid $clr--primary;
         transition: 0.5s ease;
    }
  }
  &.btn--secondary{
    background-color: $clr--secondary;
    color: $clr--light;
    border: 1px solid $clr--light;
    &:hover{
         background-color: $clr--light;
         color: $clr--secondary;
         border: 1px solid $clr--secondary;
         transition: 0.5s ease;
    }
  }
}
.btn--text{
    color: $clr--light;
    transition: 0.5s ease;
}
.listButton{
    display: flex;
    gap: 3rem;
    align-items: center;
    @include mediaQuery(520px){
      flex-direction: column;
      gap: 1rem;
    }
}

